#body{
	margin-top: 5%;
	margin-left: 5%;
	margin-right: 5%;
	text-align: justify;
	font-weight: bold;
}
a{
	text-decoration: none;
}

h3{
	color: #CD3700;
}
p{
	text-align: justify;
}

.anh{
	max-width: 300px;
}

.anhtp{
	max-width: 500px;
}